.services {
	padding: 7.5rem 0;
	position: relative;
	border: 1px solid #ccc;
}

.services .content {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.services__overlay {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
}

.services__overlay--1 {
	left: 0;
	background: #fafafa;
	border-right: 1px solid #ccc;
}

.services__overlay--2 {
	right: 0;
	background: #ffffff;
}

.service {
	width: 41%;
}

.service__icon {
	display: block;
	margin-bottom: 3rem;
	width: 6rem;
	height: 6rem;
}

.service__title {
	font-size: 3rem;
	font-weight: 400;
	margin-bottom: 3rem;
	color: #000;
}

.service__btn {
	font-size: 1.8rem;
	padding: 0.75em 4em;
	cursor: pointer;
	border-radius: 0.5rem;
	border: 1px solid #4c5a9b;
	background: transparent;
	color: #4c5a9b;
	transition: 400ms ease-in-out;
	text-decoration: none;
	display: inline-block;
}

.service__btn:hover {
	transition: 400ms ease-in-out;
	color: #fff;
	background: #4c5a9b;
}

/*Queries*/
@media screen and (max-width: 948px) {
	.service__title {
		font-size: 2.7rem;
	}

	.service__btn {
		font-size: 1.6rem;
	}
}

@media screen and (max-width: 768px) {
	.services {
		padding: 0;
		border: 0;
	}

	.services__overlay {
		display: none;
	}

	.services .content {
		display: block;
	}

	.service {
		width: 100%;
		display: flex;
		flex-flow: column;
		align-items: center;
		padding: 5rem 0;
		border-bottom: 1px solid #eee;
	}

	.service__title {
		font-size: 2.5rem;
	}

	.service__btn {
		font-size: 1.6rem;
		padding: 0.75em 3.5em;
	}
}

@media screen and (max-width: 600px) {
	.service__title {
		font-size: 2.1rem;
	}
}
